{% extends 'base.html' %}
{% load app_tags %}
{% block body %}

 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Auto Sales Reviews</h1>
        <p class="lead text-muted">This project aims to create a trusted community-driven resource for auto sales, enhancing the purchasing experience for consumers while providing dealerships with valuable feedback to improve their services.</p>
        <form action="{% url 'app-search-page' %}" method="GET">
          <div class="d-flex justify-content-center">
            <select class="form-select" name="category" required>
              <option>Select Category</option>
              {% for row in categories %}
              <option value="{{ row.id }}" {% if category and category == row %} selected {% endif %}>{{ row.name }}</option>
              {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;
            <select class="form-select" name="location" required>
              <option>Select Location</option>
              {% for row in locations %}
              <option value="{{ row }}" {% if location and location == row %} selected {% endif %}>{{ row }}</option>
              {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
        {% for row in featured%}
        <div class="d-flex justify-content-center">
          <table class="col-lg-7">
            <tbody>
              <tr>
                <td>
                  <div>
                    <div class="card shadow-sm rounded">
                      {% if request.user.is_authenticated  %}
                          <div class="d-flex justify-content-end m-2">
                            <button class="btn btn-primary" onClick="updateBusiness('{{ row.id }}')">Update Business</button>
                          </div>
                      {% endif %}
                        <div class="d-flex justify-content-end m-2">
                            <span class="badge bg-primary">Featured</span>
                          </div>
                      <div class="d-flex justify-content-start">
                        <div class="card m-2 bg-secondary" style="width:25%; height: 20%;">
                          <div class="d-flex justify-content-center">
                            <h4 class="p-3 text-white">{{ row.name }}</h4>
                          </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div>
                          <h4 class="mt-2">{{ row.name }}</h4>
                          <p class="text-muted">{{ row.address }}</p>
                          <div class="d-flex justify-content-start">
                            &nbsp;&nbsp;
                            {% if row.email != '' %}
                            <a href="email:{{ row.email }}" class="btn btn-success" target="_blank">Send Email</a>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                          <div class="review-card">
                            <div class="rating">
                                <div class="rating-text"><h4>Our Rating</h4></div>
                                <div class="rating-stars">
                                    {% str_to_int row as our_rating %}
                                    <div class="star-rating" style="font-size: 20px">
                                        {% if our_rating.avg_int == 1 %}
                                        ★
                                        {% elif our_rating.avg_int == 2 %}
                                        ★★
                                        {% elif our_rating.avg_int == 3 %}
                                        ★★★
                                        {% elif our_rating.avg_int == 4 %}
                                        ★★★★
                                        {% elif our_rating.avg_int == 5 %}
                                        ★★★★★
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="show-details" onClick="showDetails('{{ row.id }}')">Show details</div>
                            </div>
                            <div class="separator"></div>
                            <div class="review-sources">
                                <div class="review-source-item">
                                    <strong><h5>Google</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.google_rating }} <span>({{ row.google_reviews_count }})</span></div>
                                </div>
                                <div class="review-source-item">
                                    <strong><h5>Facebook</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.facebook_rating }} <span>({{ row.facebook_reviews_count }})</span></div>
                                </div>
                                <div class="review-source-item">
                                    <strong><h5>Yelp</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.yelp_rating }} <span>({{ row.yelp_reviews_count }})</span></div>
                                </div>
                            </div>
                        </div>
                          <!--
                          <small class="text-muted">9 mins</small>
                          -->
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endfor %}
      {% for row in business|slice:"0:10" %}
        <div class="d-flex justify-content-center">
          <table class="col-lg-7">
            <tbody>
              <tr>
                <td>
                  <div>
                    <div class="card shadow-sm rounded">
                      {% if request.user.is_authenticated  %}
                          <div class="d-flex justify-content-end m-2">
                            <button class="btn btn-primary" onClick="updateBusiness('{{ row.id }}')">Update Business</button>
                          </div>
                      {% endif %}
                      <div class="d-flex justify-content-start">
                        <div class="card m-2 bg-secondary" style="width:25%; height: 20%;">
                          <div class="d-flex justify-content-center">
                            <h4 class="p-3 text-white">{{ row.name }}</h4>
                          </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div>
                          <h4 class="mt-2">{{ row.name }}</h4>
                          <p class="text-muted">{{ row.address }}</p>
                          <div class="d-flex justify-content-start">
                            &nbsp;&nbsp;
                            {% if row.email != '' %}
                            <a href="email:{{ row.email }}" class="btn btn-success" target="_blank">Send Email</a>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                          <div class="review-card">
                            <div class="rating">
                                <div class="rating-text"><h4>Our Rating</h4></div>
                                <div class="rating-stars">
                                    {% str_to_int row as our_rating %}
                                    <div class="star-rating" style="font-size: 20px">
                                        {% if our_rating.avg_int == 1 %}
                                        ★
                                        {% elif our_rating.avg_int == 2 %}
                                        ★★
                                        {% elif our_rating.avg_int == 3 %}
                                        ★★★
                                        {% elif our_rating.avg_int == 4 %}
                                        ★★★★
                                        {% elif our_rating.avg_int == 5 %}
                                        ★★★★★
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="show-details" onClick="showDetails('{{ row.id }}')">Show details</div>
                            </div>
                            <div class="separator"></div>
                            <div class="review-sources">
                                <div class="review-source-item">
                                    <strong><h5>Google</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.google_rating }} <span>({{ row.google_reviews_count }})</span></div>
                                </div>
                                <div class="review-source-item">
                                    <strong><h5>Facebook</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.facebook_rating }} <span>({{ row.facebook_reviews_count }})</span></div>
                                </div>
                                <div class="review-source-item">
                                    <strong><h5>Yelp</h5></strong>
                                    <div class="source-rating" style="font-size: 20px">★{{ row.yelp_rating }} <span>({{ row.yelp_reviews_count }})</span></div>
                                </div>
                            </div>
                        </div>
                          <!--
                          <small class="text-muted">9 mins</small>
                          -->
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
      <div class="pagination">
          <span class="step-links">
              {% if business.has_previous %}
                  <a href="?category={{ row.category.id }}&location={{ location }}&page=1">&laquo; first</a>
                  <a href="?category={{ row.category.id }}&location={{ location }}&page={{ business.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                 {% if business.has_previous or business.has_next %} Page {{ business.number }} of {{ business.paginator.num_pages }}. {% endif %}
              </span>

              {% if business.has_next %}
                  <a href="?category={{ category.id }}&location={{ location }}&page={{ business.next_page_number }}">next</a>
                  <a href="?category={{ category.id }}&location={{ location }}&page={{ business.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="card">
            <table class="dealership-table">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>OUR RATING</th>
                        <th>ADDRESS</th>
                        <th>PROMOTIONS</th>
                        <th>LEARN MORE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in business|slice:"11:20" %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>
                            {% str_to_int row as our_rating %}
                            <div class="star-rating">
                                {% if our_rating.avg_int == 1 %}
                                ★
                                {% elif our_rating.avg_int == 2 %}
                                ★★
                                {% elif our_rating.avg_int == 3 %}
                                ★★★
                                {% elif our_rating.avg_int == 4 %}
                                ★★★★
                                {% elif our_rating.avg_int == 5 %}
                                ★★★★★
                                {% endif %}
                            </div>
                            <div class="show-details"  onClick="showDetails('{{ row.id }}')">Show details</div>
                        </td>
                        <td>{{ row.address }}</td>
                        <td></td>
                        <td><a href="#" class="view-more">View More</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>

<div class="modal" tabindex="-1" id="updateModal">
  <div class="modal-dialog">
    <div class="modal-content" id="modalContent">
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="showDetailsModal">
  <div class="modal-dialog">
    <div class="modal-content" id="showDetailsContent">
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  const updateBusiness = (business_id) => {
      $('#modalContent').load('/update-business/'+business_id, function(response, status, xhr) {
        if (status == "error") {
          var msg = "Error: " + xhr.status + " " + xhr.statusText;
          $('#modalContent').html(msg);
        }
      });

      $('#updateModal').modal('toggle');
  }


  const showDetails = (business_id) => {
    $('#showDetailsContent').load('/show-business/'+business_id, function(response, status, xhr) {
        if (status == "error") {
          var msg = "Error: " + xhr.status + " " + xhr.statusText;
          $('#showDetailsContent').html(msg);
        }
      });

      $('#showDetailsModal').modal('toggle');
  }
</script>
{% endblock %}
